In [1]:
y_val = [0,8,10,12,14,20,28,29,30,33,34,35,40,40,42,50,55,80,90]
y_predic = [80,8,12,12,14,25,88,29,50,33,34,35,78,40,42,50,55,80,90]

In [3]:
def idade_classe(y):
    y_classe = []
    for idade in y:
        if idade <= 10:
            y_classe.append(0)
        elif idade <= 15:
            y_classe.append(1)
        elif idade <= 59:
            y_classe.append(2)
        else:
            y_classe.append(3)
        
            
    return y_classe

In [4]:
y_classe = idade_classe(y_val)
y_classe_pred = idade_classe(y_predic)

In [5]:
num = len(y_classe)
for i in range(num):
    print('idade:',y_val[i],'classe:',y_classe[i])

idade: 0 classe: 0
idade: 8 classe: 0
idade: 10 classe: 0
idade: 12 classe: 1
idade: 14 classe: 1
idade: 20 classe: 2
idade: 28 classe: 2
idade: 29 classe: 2
idade: 30 classe: 2
idade: 33 classe: 2
idade: 34 classe: 2
idade: 35 classe: 2
idade: 40 classe: 2
idade: 40 classe: 2
idade: 42 classe: 2
idade: 50 classe: 2
idade: 55 classe: 2
idade: 80 classe: 3
idade: 90 classe: 3